<header>
   <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand m-2" style="color:white;">Wedding Guest Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
         aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <button type="primary" class="btn btn-primary nav-link" (click)="onOpenModal('add', null)"
                  data-toggle="modal" data-target="#exampleModal">Add Guest<span class="sr-only">(current)</span></button>
            </li>
         </ul>
         <form class="form-inline m-2 my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchLabels(key.value)" #key="ngModel" ngModel name="key"
               id="searchName" class="form-control mr-sm-2" placeholder="Search..." required>
         </form>
      </div>
   </nav>
</header>

<div class="container" id="main-container">
   <!-- Main Display -->
   <div class="row">
      <div *ngFor="let label of labels" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <!-- Image for Card -->
                  <a href=""><img src="{{label?.imageURL}}" alt="" class="img-fluid rounded-circle w-60"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <!-- Contents of Card -->
                  <h5>{{label?.name}}</h5>
                  <p class="m-0"><b>Role:</b> {{label?.role}}</p>
                  <p class="m-0"><b>Diet:</b> {{label?.diet}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{label?.email}}</li>
               <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{label?.phone}}</li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal('edit', label)" class="btn btn-primary tooltips" data-placement="top"
                     data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal('delete', label)" class="btn btn-secondary tooltips" data-placement="top"
                     data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
               <ul class="social-links list-inline mb-0">
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <!-- Add Label Modal -->
   <div class="modal fade" id="addLabelModal" tabindex="-1" role="dialog" aria-labelledby="addLabelModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="addLabelModalLabel">Add Label</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #addForm="ngForm" (ngSubmit)="onAddLabel(addForm)">
                  <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                     <label for="email">Email Address</label>
                     <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Phone</label>
                     <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="role">Role</label>
                     <input type="text" ngModel name="role" class="form-control" id="role" placeholder="Role" required>
                  </div>
                  <div class="form-group">
                     <label for="diet">Diet</label>
                     <input type="text" ngModel name="diet" class="form-control" id="diet" placeholder="Diet">
                  </div>
                  <div class="form-group">
                     <label for="imageURL">Image URL</label>
                     <input type="text" ngModel name="imageURL" class="form-control" id="imageURL"
                        placeholder="Image URL">
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-Label-form" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                     <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Edit Modal -->
   <div class="modal fade" id="updateLabelModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateLabelModalLabel">Edit {{editLabel?.name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">

               <form #editForm="ngForm">
                  <div class="form-group">
                     <input type="hidden" ngModel="{{editLabel?.id}}" name="id" class="form=control" id="id"
                        placeholder="ID">
                     <label for="name">Name</label>
                     <input type="text" ngModel="{{editLabel?.name}}" name="name" class="form-control" id="name"
                        placeholder="Name" required>
                  </div>
                  <div class="form-group">
                     <label for="email">Email Address</label>
                     <input type="email" ngModel="{{editLabel?.email}}" name="email" class="form-control" id="email"
                        placeholder="Email" required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Phone</label>
                     <input type="text" ngModel="{{editLabel?.phone}}" name="phone" class="form-control" id="phone"
                        placeholder="Phone" required>
                  </div>
                  <div class="form-group">
                     <label for="role">Role</label>
                     <input type="text" ngModel="{{editLabel?.role}}" name="role" class="form-control" id="role"
                        placeholder="Role" required>
                  </div>
                  <div class="form-group">
                     <label for="diet">Diet</label>
                     <input type="text" ngModel="{{editLabel?.diet}}" name="diet" class="form-control" id="diet"
                        placeholder="Diet">
                  </div>
                  <div class="form-group">
                     <label for="imageURL">Image URL</label>
                     <input type="text" ngModel="{{editLabel?.imageURL}}" name="imageURL" class="form-control"
                        id="imageURL" placeholder="Image URL">
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-Label-form" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                     <button (click)="onUpdateLabel(editForm.value)" type="submit" class="btn btn-primary">Save
                        changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Delete Modal -->
   <div class="modal fade" id="deleteLabelModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Delete {{deleteLabel?.name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete {{deleteLabel?.name}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteLabel(deleteLabel?.id)" class="btn btn-danger"
                     data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Notification for no Labels: if length = 0, then show -->
   <div *ngIf="labels?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
         <h4 class="alert-heading">No Labels!</h4>
         <p>No Labels were found.</p>
      </div>
   </div>
</div> <!-- End Main Container -->

<footer>
   <nav class="navbar-nav">
      <a href="https://www.youtube.com/watch?v=Gx4iBLKLVHk&t=4444s&ab_channel=Amigoscode">
         <button class="float-right m-2 btn btn-outline-success" type="button">Follow @amigoscode's Spring Boot
            Full Stack with Angular Tutorial</button></a>
      <a href="https://www.bootdey.com/snippets/view/bs4-contact-cards">
         <button class="float-right m-2 btn btn-sm btn-outline-secondary" type="button">Bootdey Snippet: BS4 Contact
            Cards</button></a>
   </nav>
</footer>